[submodule "backoffice"]
	path = backoffice
	url = https://github.com/fredoing/backoffice-moviles-I.git
[submodule "backend"]
	path = backend
	url = https://github.com/fredoing/backend-moviles-I.git
[submodule "java-connect-eg"]
	path = java-connect-eg
	url = https://github.com/fredoing/java-connect-eg.git
